<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=MATTIPAVEC1D98\SQLEXPRESS; Initial Catalog=ProfileApp;User ID=MattIpavec;Password=Password1!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>